<!-- <mat-card id="tela" class="container">
  <mat-card-header class="bg-slate-50">hearder aqui</mat-card-header>

  <mat-card class="metadeDaTela tela1">
    
    <mat-card-content id="card">
      <h1 class="uppercase bg-blue-400">aqui</h1>
      <p class="text-wrap text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam exercitationem repellendus, eligendi tempore illo eos beatae nemo. Officiis quaerat expedita repudiandae quibusdam? Aspernatur, mollitia nobis magni ea architecto alias soluta.</p>
    </mat-card-content>

    <mat-card-content>
      <h1 class="uppercase bg-red-600">texto do meio</h1>
    </mat-card-content>

    <mat-card-content>texto final</mat-card-content>
  </mat-card>

  <mat-card class="metadeDaTela tela2 justify-around p-2">
    <mat-card-content class="bg-red-900 w-1/4 rounded-xl">
      <h1>direita</h1>
      <h1>direita</h1>
    </mat-card-content>

    <mat-card-content class="bg-pink-300 w-2/3 rounded-xl">
      <h1>esquerda</h1>
      <h1>esquerda</h1>
    </mat-card-content>
  </mat-card>

</mat-card> -->

<main class="container bg-black  grid grid-rows-[30px_450px_170px] gap-2 p-4 tamanhoTela">

  <nav class="bg-black flex justify-between items-center">

    <mat-icon class="text-cyan-50 w-1/12">home</mat-icon>

    <div class="flex w-1/3 justify-evenly items-center gap-10">
      <a href="#" class="text-cyan-50 ">Deposit</a>
      <a href="#" class="text-cyan-50">Dashboard</a>
      <a href="#" class="text-cyan-50">Company</a>
      <a href="#" class="text-cyan-50">pricing</a>
    </div>

    <div class="w-1/3 flex justify-end items-center gap-10 divButton">
      <a href="#" class="text-cyan-50">Open your account</a>
      <button class="text-black bg-yellow-300 rounded-full w-24 h-8 items-center flex justify-center">Sign in
        <mat-icon>chevron_right</mat-icon></button>
    </div>

  </nav>

  <section class="bg-white grid grid-cols-3 p-4 rounded-xl parte-1-tela">
    <div class="w-64 h-5/6 bg-gradient-to-b from-red-200 to-red-950 rounded-2xl person">
      <img src="assets/img/pessoa.png" class="bg-cover person-img">
      <div class="flex justify-center cartao">
        <div
          class="bg-gradient-to-b from-gray-600 to-slate-50 w-full h-28 rounded-3xl grid grid-rows-2 p-4 border-white border-solid border opacity-90">
          <div class="flex justify-between items-center">
            <div class="text-cyan-50"><strong>Payment method</strong></div>
            <mat-icon class="bg-black rounded-full">radio_button_unchecked</mat-icon>
          </div>

          <div class="flex justify-between my-6 cartao">
            <div class="flex justify-between w-full items-center">
              <div>
                <div class="flex">
                  <mat-icon class="rounded-full bg-red-600 text-red-600">home</mat-icon>
                  <mat-icon
                    class="rounded-full bg-orange-600 text-orange-600 right-2 relative opacity-80">home</mat-icon>
                </div>
                <p>manstecar</p>
              </div>
              <strong>****5550</strong>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-meio">
      <h1 class="h"><strong class="text-5xl strong">Responsible</strong></h1>
      <h1 class="h"><strong class="text-5xl strong">Banking Made</strong></h1>
      <h1 class="h"><strong class="text-5xl strong">Easier</strong></h1>

      <p>
        Lorem ipsum dolor,
        sit amet consectetur adipisicing elit.
        Vel, iure voluptatem ut nulla eligendi
        molestias debitis pariatur assumenda
        labore eveniet facere ex tempora.
      </p>

      <div class="w-full my-4 h-10">
        <input type="text"
          class="
        rounded-full 
        w-full 
        h-10 
        shadow-lg 
        shadow-gray-300 
        border-solid 
        border-gray-100 
        border
        placeholder:font-sans placeholder:text-black block bg-white py-2 pl-4 pr-3 focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
          placeholder="Download Application">
        <mat-icon class="relative bottom-8 mat-left">upload_file</mat-icon>
      </div>

      <div class="flex justify-between afe">
        <div>
          <p class="h font">Active users</p> <strong>5000+</strong>
        </div>
        <div>
          <p class="h font">Dowload</p> <strong>30.3k</strong>
        </div>
        <div>
          <p class="h font">Reviews</p> <strong>1200+</strong>
        </div>
      </div>
    </div>

    <div class="flex justify-center">
      <div class="celular-camera"></div>
      <div class="celular w-11/12 h-full">

        <header class="flex items-center justify-between px-3">
          <mat-icon class="border rounded-md pb-6 pr-6">apps</mat-icon>
          <h1><strong class="text-sm">Tranfer</strong></h1>
          <mat-icon class="celular_home"><img src="../assets/img/pessoa.png" width="24px" height="24px"></mat-icon>
        </header>

        <div class="px-4"><strong>My card</strong></div>

        <div class="flex justify-between w-full h-2/5 ps-4 gap-1">
          <div class="w-11/12 h-full bg-black rounded-xl"></div>
          <div class="w-1/12 h-full bg-red-400 rounded-s-xl"></div>
        </div>

        <div class="flex justify-between px-5 pt-3 celular-text"><strong>Expenses History</strong> <a href="#">View All</a></div>
    
        <div class="flex justify-between px-5 pt-3 celular-text">
          <div class="flex gap-2 items-center"><mat-icon>home</mat-icon> <strong>Odnoklassniki</strong></div> 
          <a href="#">View All</a>        
        </div>

        <div class="tamanho-text relative flex flex-col gap-3 justify-center items-center">
          <strong>All Debit Cards</strong>
          <div class="flex-col flex justify-center items-center">
            <p class="pequenoP">For details please click</p>
            <p class="pequenoP">on each card</p>
          </div>
          <button class="bg-black text-white rounded-3xl w-9/12 h-9">Order a card</button>
        </div>
 
        <div class="tamanho h-36 opacity-100 blur-sm bg-slate-50 relative right-5">
        </div>
      </div>
    </div>
  </section>
  <section class="rounded-xl flex gap-2 h-52 parte-2-tela">

    <div class="bg-red-200 w-1/3 h-full rounded-xl card-rosa-todo">

      <div class="flex gap-6 justify-center items-start p-3 h-16 card-rosa">
        <h2 class="text-blue-950 w-3/4 w900">How it works</h2>
        <div class="w-3/5 m-3">
          <p class="pequeno">Mobile banking </p>
          <p class="pequeno">differs from</p>
          <p class="pequeno">mobile payments</p>
        </div>
      </div>

      <div class="bg-yellow-400 h-3/5 w-3/6 rounded-e-xl z-10 relative bottom-3 divAfe">
        <img src="../assets/img/pessoa.png" class="img">
        <p class="m">30 Days free trial</p>
      </div>
      <div class="linha1 linha"></div>
      <div class="linha2 linha"></div>
      <div class="linha3 linha"></div>
    </div>

    <div class="bg-white w-full h-full rounded-xl flex parte-2-tela_2">

      <div class="w-1/2 h-full p-1 flex flex-col items-center justify-center text-div">

        <div>
          <h1 class="divH1">All the</h1>
          <h1 class="divH1">experience in the</h1>
          <h1 class="divH1">new application</h1>
        </div>
        <p class="divP">
          simple transfers,
          payments for utilizes,
          functional statemement,
          card settings, for which you
          used to have to go too
          the brach oonline-banking
        </p>
      </div>

      <div class="w-1/2 h-full flex div-foto-final">

        <div class="customLinha1 customColor"></div>
        <div class="customLinha2 customColor"></div>
        <div class="customLinha3 customColor"></div>
        <div class="customLinha4 customColor"></div>

        <div class="flex flex-col items-center justify-end">
          <div>
            <h1 class="divH1 h1 h1-1">Customer</h1>
            <h1 class="divH1 h1">reviews</h1>
          </div>

          <div class="text-center w-28">
            <mat-icon class="home home1"><img src="../assets/img/pessoa.png" width="24px" height="24px"></mat-icon>
            <mat-icon class="home home2"><img src="../assets/img/pessoa.png" width="24px" height="24px"></mat-icon>
            <mat-icon class="home home3"><img src="../assets/img/pessoa.png" width="24px" height="24px"></mat-icon>
            <mat-icon class="home home4"><img src="../assets/img/pessoa.png" width="24px" height="24px"></mat-icon>

          </div>

        </div>

        <img src="../assets/img/pessoa.png" class="img-2">

        <div class="relative flex flex-col items-center py-9 right-10 nome">
          <h1 class="divH1 divH1-2">Ethan Orio</h1>
          <p class="divP divP-2">Design Director</p>
        </div>

      </div>

    </div>
  </section>

</main>